/*mutual styles start */

header {
    background-color: rgb(208, 210, 212);
    font-family: open-sans;
    padding: 20px;
    margin: 5px 59px 5px 70px; 
    text-align: right;
}
footer {
    background-color: rgb(208, 210, 212);
    font-family: open-sans;
    padding: 20px;
    margin: 5px 59px 5px 70px; 
    text-align: center;
}

/*mutual styles end */

/*SWOT analysis styles start */

li    {
    line-height: 2;
    margin: 0px; 
}
.aul {
    margin: 0px;
}
    margin: 0px;
}
table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 75%;
    margin: 5px 150px 50px 200px;
    font-family: open-sans;
    vertical-align: top;
}
thead {
    column-span: 3;
    background-color:rgb(208, 210, 212);
    vertical-align: top;
    text-align: center;
}
table th {
    background-color:rgb(208, 210, 212);
    vertical-align: center;
    text-align: left;
    padding: 1rem;
    border: 2px solid black;
    border-collapse: collapse;
}
table td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 20px;
    margin: 0px;
    vertical-align: top;
    text-align: left;
}
#analysis {
    font-family: open-sans;
    text-align: left;
    margin: 20px 100px 2px 300px;
    padding: 2px;
    color: rgba(31, 31, 170, 0.993); 
    font-size: 300%;
}
table caption {
    caption-side: bottom;
    padding: 1rem;
    font-size: 1rem;
    background-color: rgba(31, 31, 170, 0.993);
    color: #f0ec0c;
    border: 1px solid black;
}
.hside {
    text-align: center;
    vertical-align: top;
    margin: 10px 250px 0px 50px;
}

/*SWOT analysis styles end*/

/*Creative brief styles start*/

        h1    {
            font-family: verdana;
            text-align: center;
            margin: 8px 59px 2px 70px;
            color: #f0ec0c;
            font-size: 300%;
            padding: 10px;
            background-color: #0733c5;
            border: 2px solid black;
            border-collapse: collapse; 
        }
        h2     {
            font-family: verdana;
            color: #0733c5;
            padding: 5px;
            margin: 5px 5px 2px 25px;
            text-align: center;
            font-size: 200%;
        }
        ul     {
            font-family: verdana;
            margin: 5px 400px 2px 450px;
            text-align: left;
            line-height: 2;
        }
        a:hover{
            color: #e9154af8
        }
/*Creative brief styles end*/